{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="h1 fw-bold">Search, Read, Buy, Review</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
            etc. Make it short and sweet, but not too short so folks do not simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Make an account</a>
          </p>
        </div>
      </div>
    </section>
  </main>
{% endblock %}